h2
{
    color:rgb(6, 76, 122);
}

#menu
{
padding: 5px;
background-color:#062b3f;
text-align: center;
box-shadow: 20px;
}

#menu li 
{

list-style-type: none;
display: inline-block;
font: bold 90px;
padding-left: 50px;


}

a
{
text-decoration: none;
color:white;

}   