*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    margin: 0px;
    padding: 0px;   
    box-sizing: border-box;
    
}

.lilita-one-regular {
  font-family: "Lilita One", sans-serif;
  font-weight: 400;
  font-style: normal;

}


h3
{
    color:#5410a7;

}

#fotologo
{
    width: 450px; 
    height: 450px;
}

#fotoanimada
{
    width: 350px; 
    height: 450px;
}

.bordes
{
    border:3px solid goldenrod;
}

#formularioSeleccion> label{
   color: rgb(1, 107, 93); 
}

a > p
{
color: #011d1d;

}

#cajaLogo
{
    border: 3px solid  #105279 ;
    background-color: #549db9;
    padding: 8px;
    width: 100%;
  
}

#textoLogo
{
    text-align: center;
    background-color: #549db9;
    color: #025c5c;
    border: 10px solid  rgb(16, 82, 121) ;
    font-size: 50px;
   
}




