h3
{
    color:#5410a7;

}

#fotologo
{
    width: 450px; 
    height: 450px;
}

#fotoanimada
{
    width: 350px; 
    height: 450px;
}

.bordes
{
    border:3px solid goldenrod;
}

#FormularioSeleccion> label{
   color: rgb(1, 107, 93); 
}
